<%- include('includes/head.ejs') %>
    <form action="/add-book" method="POST">
        <p>Title:</p>
        <input type="text" name="bookname">
        <p>Description:</p>
        <input type="text" name="bookname2">
        <br>
        <br>
        <button type="submit">Add book</button>
    </form>
<%- include('includes/end.ejs') %>